<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Projects/PetStoreAPI/pom.xml">

        <classes>
            <class name="PetsEndpoints"></class>
            <class name="StoreEndpoints"></class>
            <class name="UserEndpoints"></class>
        </classes>
    </test></suite>